<div class="main_container">
  <h1>{{currentStatus}}</h1>
  <table mat-table [dataSource]="variableStack" class="mat-elevation-z8 table">
    <ng-container matColumnDef="Variable name">
      <th mat-header-cell *matHeaderCellDef>Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Variable value">
      <th mat-header-cell *matHeaderCellDef>Value </th>
      <td mat-cell *matCellDef="let element">{{element.value}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

  </table>
  <ng-container>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="stepIn()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </ng-container>
</div>
