@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900');

.wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #424242;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.6);
  border-radius: 1rem;

  input {
    position: relative;
    padding: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    background-color: #424242;
    border: none;
    box-shadow: 0 0 6px 0 rgba(black, 0.8);
    transition: all 100ms ease-in-out;
    border-radius: 0.5rem;
    color: white;
    margin-left: 3rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(white, 0.6);
      transform: scale(1.03);
    }
  }

  .beeper {
    color: white;
    line-height: 2rem;
    font-size: 2rem;
    font-family: "Rubik";
    position: absolute;
    left: 0.75rem;
    margin-top: 0.375rem;

    .mini-beeper {
      animation: beep 0.5s ease infinite alternate;
    }
  }

  @keyframes beep {
    0%, 50% {
      opacity: 1;
    }
    60%, 100% {
      opacity: 0;
    }
  }

  button {
    margin: 0 auto;
    padding: 0.75rem 2rem;
    background-color: #424242;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.8);
    border: none;
    font-family: "Rubik";
    margin-top: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-weight: bold;
    border-radius: 0.5rem;
    color: white;

    &:active {
      box-shadow: 0 0 3px 0 rgba(0,0,0, 0.8),
        inset 0 0 15px -5px rgba(0,0,0, 0.8);
      color: darken(white, 20%);
    }
  }
}

.flavor-text {
  color: white;
  font-family: "Rubik";
  padding-bottom: 1rem;
}
