<div class="wrapper">
  <div class="content">
    <span class="flavor-text">$ user daBabyFlowchart</span>
    <div class="big-beep">
      <span class="beeper">>
        <span class="mini-beeper">_</span>
      </span>
      <input [(ngModel)]="instructionString" id="writing-input">
    </div>
    <button (click)="emitExpression()">
      <span>
        SUBMIT
      </span>
     </button>
  </div>
</div>
