<h1 mat-dialog-title>Chose your variable</h1>
<div mat-dialog-content>
  <p>Choose your variable to add to stack</p>
  <mat-form-field>
    <mat-label>Variable name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Variable type</mat-label>
    <mat-select [(ngModel)]="data.type">
      <mat-option value="boolean">
        boolean
      </mat-option>
      <mat-option value="number">
        number
      </mat-option>
      <mat-option value="number">
        string
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add variable</button>
</div>
