@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './../variables.scss';

// Mixins
@mixin scrollbar-style($property) {
  #{$property}::-webkit-scrollbar {
    width: 10rem;
    background-color: #424242;
    box-shadow: 0 0 5px 0 rgba(black, 0.3);
  }

  #{$property}::-webkit-scrollbar {
    width: 1rem;
  }

  #{$property}::-webkit-scrollbar-thumb {
    background-color: #303030;
    // outline: 1px solid #303030;
  }
}

@mixin grab {
  cursor: grab;
}


/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) {
  #side-menu {
    margin-top: 56px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 56px;

      height: calc(100vh - 56px);
      width: 40%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    #content {
      height: calc(100vh - 56px);
    }

    .sidenav-list {

      .steps {
        #steps_content {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 1.25rem;

          .steps_content-step {
            height: 7rem;
            width: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .steps_content-step-container {
              background-color: whitesmoke;
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              padding: 10px;
              cursor: move;
            }

            #step-expression {
              height: 85%;
              width: 100%;
              @include grab();
            }

            #step-conditional {
              width: 60%;
              height: 60%;
              transform: rotate(45deg);
              background-color: whitesmoke;

              span {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }

      .operators {


        #operators_content {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          .operators_content-operator {
            box-sizing: border-box;
            box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.85);
            padding: 1rem;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            margin: 0.5rem;
            font-size: 1.25rem;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 400ms ease;
          }

          .operators_content-operator:hover {
            color: black;
            background-color: rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 8px 0px rgba(255, 255, 255, 0.5);
            cursor: pointer;
          }
        }
      }
    }

  }
}


/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {

  #side-menu {
    margin-top: 56px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 56px;

      height: calc(100vh - 56px);
      width: 40%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    #content {
      height: calc(100vh - 56px);
    }
  }
}


/* Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {

  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;

      height: calc(100vh - 64px);
      width: 30%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    #content {
      height: calc(100vh - 64px);
    }
  }
}


/* Laptops, Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {


  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;

      height: calc(100vh - 64px);
      width: 20%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      #side-menu_content__mob-menu-header-to-side {
        display: none;
      }

      #content {
        height: calc(100vh - 64px);
      }

    }
  }
}


/* Desktops */
@media (min-width: 1281px) {

  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;

      height: calc(100vh - 64px);
      width: 20%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      #side-menu_content__mob-menu-header-to-side {
        display: none;
      }

      #content {
        height: calc(100vh - 64px);
      }

    }
  }
}

@media (min-width: 1366px) {

  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;

      height: calc(100vh - 64px);
      width: 20%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      #side-menu_content__mob-menu-header-to-side {
        display: none;
      }

    }

    #content {
      height: calc(100vh - 64px);
    }
  }
}

@media (min-width: 1920px) {

  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;
      max-width: 425px;

      height: calc(100vh - 64px);
      width: 20%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      #side-menu_content__mob-menu-header-to-side {
        display: none;
      }

    }

    #content {
      height: calc(100vh - 64px);
    }
  }
}

@media (min-width: 2560px) {

  #side-menu {
    margin-top: 64px;

    #side-menu_content {
      position: fixed;
      left: 0;
      top: 64px;
      max-width: 425px;

      height: calc(100vh - 64px);
      width: 20%;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      #side-menu_content__mob-menu-header-to-side {
        display: none;
      }

    }

    #content {
      height: calc(100vh - 64px);
    }
  }
}

#content {}

a {
  text-decoration: none;
  color: white;
}

.sidenav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  li {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    overflow: auto;
    flex-basis: calc(33.3%);
    // resize: vertical;
  }
}

.declared_variables {
  margin-top: 5%;
  width: 100%;
  overflow-x: hidden;
}

.declared_variables_list {
  padding: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}
.declared_variables_list li {
  margin-left: 0;
  width: 100%;
  overflow: hidden;
}
.declared_variables_list div {
  display: inline-block;
}

.declared_variable{
  height: 100%;
}
.declared_variable_icon {
  vertical-align: middle;
  height: 100%;
  margin-left: 5%;
}
.declared_variables_buttons{

}
.declared_variables_buttons span {
  margin-left: 10%;
}


.operators {
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: #424242;
    box-shadow: inset 0 0 5px 0 rgba(black, 0.3);
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 2rem;
  }
}

.variables {
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: #424242;
    box-shadow: inset 0 0 5px 0 rgba(black, 0.3);
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 2rem;
  }
}

.steps {
  &::-webkit-scrollbar {
    width: 1rem;
    background-color: #424242;
    box-shadow: inset 0 0 5px 0 rgba(black, 0.3);
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 2rem;
  }
}
