<div id="app">

  <!-- **** SIDE MENU **** -->
  <mat-sidenav-container id="side-menu" [hasBackdrop]='false'>
    <mat-sidenav [mode]="'over'" id='side-menu_content' [opened]='true'>

      <ul class="sidenav-list">
        <li class="steps">
          <h2>STEPS</h2>
          <div id="steps_content">
            <div class="steps_content-step">
              <div class="steps_content-step-container" id="step-expression" draggable="true" (dragend) = 'onStepDropped($event)'>
                EXPRESSION
              </div>
            </div>
            <div class="steps_content-step">
              <div class="steps_content-step-container" id="step-conditional" draggable="true" (dragend) = 'onStepDropped($event)'>
                <span>CONDITION</span>
              </div>
            </div>
          </div>
        </li>
        <li class="variables">
          <h2>VARIABLES</h2>
          <div class="declared_variables_buttons">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="openDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="declared_variables">
            <ul class="declared_variables_list" *ngFor="let variable of variableStack">
              <li>
                <div class="declared_variable">
                {{variable.name}}: {{variable.type}}
                </div>
                <div class="declared_variable_icon" (click)="popFromStack(variable)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer;">remove</mat-icon>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="operators">
          <h2>OPERATORS</h2>
          <div id="operators_content">
            <div class="operators_content-operator">+</div>
            <div class="operators_content-operator">-</div>
            <div class="operators_content-operator">×</div>
            <div class="operators_content-operator">÷</div>
            <div class="operators_content-operator">=</div>
            <div class="operators_content-operator">AND</div>
            <div class="operators_content-operator">OR</div>
            <div class="operators_content-operator"><</div>
            <div class="operators_content-operator">></div>
            <div class="operators_content-operator"><=</div>
            <div class="operators_content-operator">>=</div>
            <div class="operators_content-operator">==</div>
          </div>
        </li>
      </ul>

    </mat-sidenav>

    <mat-sidenav-content id='content'>
      <app-flowchart [variableStack]="variableStack"></app-flowchart>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
