#main {
  // background-color: red;
  height: calc(100vh - 64px - 6px);
  width: 100%;
  cursor: none;
}

#cursor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;

  border: 2.5px solid black;
  background-color: salmon;
}

.debugger {
  position: absolute;
  top: 0;
  right: calc(350px/4)
}
.input {
  padding: 100px;
  position: absolute;
  top: 0;
  right: calc(350px/4)
}
