<div id="flowchart">
  <canvas #canvas id="main" width=1920 height=1080 (mouseout)='onCanvasMouseOut()' (mouseover)='onCanvasMouseOn()' (contextmenu)="handleMenu($event)"></canvas>
  <div #cursor id="cursor">
  </div>
  <div class="debugger">
    <app-debugger [flowChartInstance]="flowChartInstance" *ngIf="showDebugger">

    </app-debugger>
  </div>
  <div class="input">
    <app-instruction-input
      [variableStack]="variableStack"
      (expression)="setExpression($event)"
      (evalString)="drawString($event)"
    ></app-instruction-input>
  </div>
</div>
