<!-- **** HEADER **** -->
<mat-toolbar id='header'>

  <!-- mobile -->
  <div id="header_nav-mobile-nav">

    <p id='header_nav-mobile-nav__logo' (click)='navigateTo("")'>
      DaFlowchart
    </p>
  </div>

  <div id="header_nav-mobile__profile">
    <button *ngIf="isUserLoggedIn" mat-button id="header_nav-mobile__profile-avatar">
      <p id="header_nav-mobile__profile-avatar-img">`

      </p>
    </button>

    <button *ngIf="showLoginButton" mat-flat-button class="header_nav-mobile__profile-login"
      (click)='sideMenuNavigateTo("login")'>
      LOG IN
    </button>
  </div>

  <!-- desktop -->
  <div id="header_nav-desktop">
    <p id='header_nav-desktop__logo' (click)='navigateTo("")'>
      DaFlowchart
    </p>

    <div id="header_nav-desktop__buttons">
      <mat-slide-toggle color="green" (change)="toggleDebugger()">
        DEBUGGER
      </mat-slide-toggle>
      <button mat-button (click)='navigateTo("login")'>TEST</button>
      <button mat-button (click)='navigateTo("login")'>TEST</button>
      <button mat-button (click)='navigateTo("login")'>TEST</button>
      <button mat-flat-button (click)='navigateTo("login")'>TEST</button>
    </div>
  </div>

</mat-toolbar>
