@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './../variables.scss';

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 100%;

      #header_nav-mobile-nav__dropdown-toggle {
        margin-right: 5px;
      }

      #header_nav-mobile-nav__logo {
        margin: 0;
      }
    }

    #header_nav-mobile__profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      height: 100%;

      #header_nav-mobile__profile-avatar {

        #header_nav-mobile__profile-avatar-img {
          width: 35px;
        }
      }
    }

    #header_nav-desktop {
      display: none;
    }
  }
}

/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 100%;

      #header_nav-mobile-nav__dropdown-toggle {
        margin-right: 5px;
      }
    }

    #header_nav-mobile__profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      height: 100%;

      #header_nav-mobile__profile-avatar {

        #header_nav-mobile__profile-avatar-img {
          width: 35px;
        }
      }
    }

    #header_nav-desktop {
      display: none;
    }
  }
}

/* Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 100%;

      #header_nav-mobile-nav__dropdown-toggle {
        margin-right: 5px;
      }

    }

    #header_nav-mobile__profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      height: 100%;

      #header_nav-mobile__profile-avatar {

        #header_nav-mobile__profile-avatar-img {
          width: 35px;
        }
      }
    }

    #header_nav-desktop {
      display: none;
    }
  }

}

/* Laptops, Desktops */
@media (min-width: 1025px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: none;
    }

    #header_nav-mobile__profile {
      display: none;
    }

    #header_nav-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      #header_nav-desktop__buttons {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

/* Desktops */
@media (min-width: 1281px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: none;
    }

    #header_nav-mobile__profile {
      display: none;
    }

    #header_nav-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      #header_nav-desktop__logo {
        margin: 0;
      }

      #header_nav-desktop__buttons {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

}

@media (min-width: 1366px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: none;
    }

    #header_nav-mobile__profile {
      display: none;
    }

    #header_nav-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      #header_nav-desktop__buttons {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

}

@media (min-width: 1920px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: none;
    }

    #header_nav-mobile__profile {
      display: none;
    }

    #header_nav-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      #header_nav-desktop__buttons {
        width: 30%;
        max-width: 545px;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (min-width: 2560px) {
  #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;

    #header_nav-mobile-nav {
      display: none;
    }

    #header_nav-mobile__profile {
      display: none;
    }

    #header_nav-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      #header_nav-desktop__buttons {
        width: 20%;
        max-width: 545px;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

#content {}

a {
  text-decoration: none;
  color: white;
}

.sidenav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  li {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    overflow: auto;
    flex-basis: calc(33.3%);
    // resize: vertical;
  }
}
